altgraph==0.17
anyio==3.3.0
beautifulsoup4==4.9.3
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
cryptography==3.4.7
dnspython==1.16.0
et-xmlfile==1.1.0
eventlet==0.31.1
fake-useragent==0.1.11
future==0.18.2
greenlet==1.1.0
h11==0.12.0
html5lib==1.1
httmock==1.4.0
http-request-randomizer==1.3.2
httpcore==0.13.6
httpx==0.18.2
idna==3.2
macholib==1.14
modulegraph==0.18
numpy==1.21.1
openpyxl==3.0.7
pandas==1.3.1
pefile==2021.5.24
psutil==5.8.0
py2app==0.24
pycparser==2.20
pyinstaller==4.5
pyinstaller-hooks-contrib==2021.2
pyOpenSSL==20.0.1
python-dateutil==2.8.2
pytz==2021.1
pywebio==1.3.3
pywin32-ctypes==0.2.0
requests==2.26.0
rfc3986==1.5.0
selenium==3.141.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.2.1
tornado==6.1
ua-parser==0.10.0
urllib3==1.26.6
user-agents==2.2.0
webencodings==0.5.1

Flask~=2.0.1