

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@font-face {
	font-family: 'Conv_AirbnbCerealBold';
	src: url('fonts/AirbnbCerealBold.eot');
	src: url('fonts/AirbnbCerealBold.woff') format('woff'), url('fonts/AirbnbCerealBold.ttf') format('truetype'), url('fonts/AirbnbCerealBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #444444;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}



/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}
.desktop-hide {display:none !important;}
.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #4154f1;
  text-transform: uppercase;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #012970;
  min-height: 40px;
  margin-top: 82px;
  color: #fff;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 57px;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 500;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol a {
  color: #fff;
  transition: 0.3s;
}

.breadcrumbs ol a:hover {
  text-decoration: underline;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #8894f6;
  content: "/";
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #672CCF;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

.header.header-scrolled {
  background: #fff;
  padding: 15px 0;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.header .logo {
  line-height: 0;
}

.header .logo img {
    max-height: 50px;
    margin-left: 0;
}

.header .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
}

#header .container-xl{max-width:1380px;}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #252223;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #252223;
}

.navbar .getstarted {
    background: #672CCF;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 45px;
    color: #fff;
}
.owl-nav {
    position: absolute;
    top: 7%;
    width: 100%;
}

.swiper-pagination-bullet-active, .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    opacity: 1;
    background: #672CCF !important;
	border:1px solid #672CCF;
}
.swiper-pagination-bullet, button.owl-dot span {background:#fff !important; border:1px solid #672CCF !important; opacity:.9 !important;}
section#hero .copyright {
    margin-bottom: 0px;
    font-size: 14px;
    margin-top: 74px;
}
.navbar .getstarted:hover {
  color: #fff;
  background: #252223;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #4154f1;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #012970;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
	
	i.bi.bi-list.mobile-nav-toggle {
    display: none;
}
  .mobile-nav-toggle {
    display: block;
  }
  
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(1, 22, 61, 0.9);
  transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #012970;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #4154f1;
}

.navbar-mobile .getstarted {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #4154f1;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
 .bg-h {
  width: 100%;
  background: url(../img/banner.jpg) top center no-repeat;
  background-size: cover;
}

.hero h1 {
  margin: 0;
  font-size:64px;
  font-weight: 700;
  color: #252223;
}

.form-banner input[type="text"] {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 40px 99px #80808033;
    border-radius: 65px;
    width: 100%;
    height: 70px;
	line-height:70px;
    border: none;
	    text-indent: 27px;
		font-size: 20px;
}
.form-banner input[type="submit"] {
    font-size: 0;
    border: none;
    position: absolute;
    right: -2px;
    top: 0px;
    height: 53px;
    width: 53px;
    background: transparent;
	z-index: 55;
}
.form-banner form {
    position: relative;
}
.form-banner {
    margin:0 auto; max-width: 800px;
}
.form-banner form:after {
    background: url(../img/Search.svg);
    content: "";
    position: absolute;
    right: 21px;
    top: 23px;
    height: 24px;
    width: 36px;
    background-repeat: no-repeat;
    background-size: contain;
}
.swiper-slide, .owl-item {
    background: #FFFFFF;
    border-radius: 15px;
    padding: 15px 10px;
    text-align: center;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -2px;
    
}

section#hero {
    padding-bottom: 26px;
    padding-top: 170px;
}
h4.text-center.slide-heading {
    font-family: 'Roboto', sans-serif;
    margin-top: 88px;
    margin-bottom: 35px;
    font-size: 34px;
    color: #252223;
    font-weight: 600;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 10px;
    right: auto;
    height:40px;
    width:40px;
    background: #fff;
    border-radius: 50%;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev, button.owl-next , button.owl-prev  {height: 40px;
    width:40px;
    background: #fff !important;
    border-radius: 50% !important; margin: 5px 0 !important;}
.swiper-button-next:hover, .swiper-button-prev:hover, button.owl-next:hover, button.owl-prev:hover { background: #672CCF !important;}
.swiper-wrapper {
    padding-bottom: 50px;
}
.form-banner input[type="text"]:focus {outline:none; border:none;}
.form-banner input::placeholder {color:#000;}
section#hero p {
    color: #252223;
    font-size: 16px;
    margin-top: 14px;
    font-weight: 500;
	margin-bottom: 20px;
}

.hero .btn-get-started {
  margin-top: 30px;
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}

.hero .btn-get-started span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.hero .btn-get-started i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.hero .btn-get-started:hover i {
  transform: translateX(5px);
}

.hero .hero-img {
  text-align: right;
}
.clients-slider.swiper-container.swiper-container-initialized.swiper-container-horizontal.swiper-container-pointer-events{
    padding: 0;
    overflow: hidden;
    width: 93%;
}
button.owl-next {
    position: absolute;
    right: -46px;
}
button.owl-prev {
    position: absolute;
    left: -46px;
}
.owl-carousel {
	margin: 0 auto;
	padding: 0;
    width: 93% !important;
}
.owl-dots {
    margin-top: 35px;
}

.slides .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    text-align: center;
    width: 100%;
    bottom: -3px;
}
.slides .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
}
.slides .swiper-button-next, .slides .swiper-button-prev {
    top: 73%;
}
.slides .swiper-button-prev:hover:after, .slides .swiper-button-next:hover:after  {filter: brightness(0) invert(1);
}
.slides .swiper-button-prev:after, button.owl-prev span {content:url("../img/arrow-f.svg"); position: relative;
    top: 3px;} 
.slides .swiper-button-next:after, button.owl-next span {content:url("../img/arrow-f.svg"); position: relative; top: 3px;
    
-webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
} 
.owl-theme .owl-dots .owl-dot span {    
    margin: 5px 4px;
    
}
button.owl-prev:hover span, button.owl-next:hover span {filter: brightness(0) invert(1);}

.owl-theme .owl-nav {
    margin-top: 7px;
}
section#search {
    padding-top: 35px;
    padding-bottom: 45px;
}
.search-result-box h3 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-top: 20px;
	color:#07080E;
}
.row.search-result-box p {
    font-size: 18px;
    color: #07080E;
}
.text-right {float:right;}
.row.search-result-box h2 {
    color: #252223;
    margin-top: 18px;
    font-family: 'Roboto', sans-serif;
}
.row.search-result-box .box {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 12px 30px #0000000d;
    border: 0.5px solid #EEEEEE;
    border-radius: 15px;
}


.row.search-result-box .box:hover{background: transparent linear-gradient(102deg, #672CCF 0%, #4D18AB 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 12px 30px #0000000D;
border: 0.5px solid #70707052; }
.row.search-result-box .box:hover h2, .row.search-result-box .box:hover h3, .row.search-result-box .box:hover p {color:#fff;}
.row.search-result-box .box:hover p.golink.text-center span.arrow-right {background:#fff;}
.row.search-result-box .box-s {padding:11px 25px;}
p.golink.text-center {
    border-top: 0.5px solid #EEEEEE;
    padding-top: 15px;
	color:#672CCF;
	font-size:20px;
	font-weight:500;
}
p.golink.text-center span.arrow-right {
    background: #672CCF;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    display: inline-block;
    line-height: 18px;
    margin-left: 5px;
    position: relative;
    top: -3px;
}
.box-s p {
    margin-bottom: 5px;
}
.search-result-box .box {
    margin-bottom: 25px;
}

.row.search-result-box .box-s h2 img {
    position: relative;
    top: -3px;
}
.box-s .col-lg-6>img {
    max-width: 100%;
    height: 83px;
    border: 1px solid #f3f3f3;
    border-radius: 50%;
    background: #fff;
}
p.golink.text-center span img {filter: brightness(0) invert(1);}
.row.search-result-box .box:hover  span img {filter: inherit;}
.row.search-result-box .box:hover  .box-s h2 img {filter: brightness(0) invert(1);}

.row.search-result-box {
    margin-top: 10px;
}
@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 120px 0 60px 0;
  }
  .hero .hero-img {
    text-align: center;
    margin-top: 80px;
  }
  .hero .hero-img img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }
  .hero h1 {
    font-size: 32px;
  }
  .hero h2 {
    font-size: 24px;
  }
  .hero .hero-img img {
    width: 100%;
  }
}

/*--------------------------------------------------------------
# Index Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content {
  background-color: #f6f9ff;
  padding: 40px;
}

.about h3 {
  font-size: 14px;
  font-weight: 700;
  color: #4154f1;
  text-transform: uppercase;
}

.about h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
}

.about p {
  margin: 15px 0 30px 0;
  line-height: 24px;
}

.about .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}

.about .btn-read-more span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.about .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.about .btn-read-more:hover i {
  transform: translateX(5px);
}

/*--------------------------------------------------------------
# Values
--------------------------------------------------------------*/
.values .box {
  padding: 30px;
  box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
  text-align: center;
  transition: 0.3s;
  height: 100%;
}

.values .box img {
  padding: 30px 50px;
  transition: 0.5s;
  transform: scale(1.1);
}

.values .box h3 {
  font-size: 24px;
  color: #012970;
  font-weight: 700;
  margin-bottom: 18px;
}

.values .box:hover {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.values .box:hover img {
  transform: scale(1);
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 70px 0 60px;
}

.counts .count-box {
  display: flex;
  align-items: center;
  padding: 30px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.counts .count-box i {
  font-size: 42px;
  line-height: 0;
  margin-right: 20px;
  color: #4154f1;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #0b198f;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .feature-box {
  padding: 24px 20px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
  height: 100%;
}

.features .feature-box h3 {
  font-size: 18px;
  color: #012970;
  font-weight: 700;
  margin: 0;
}

.features .feature-box i {
  line-height: 0;
  background: #ecf3ff;
  padding: 4px;
  margin-right: 10px;
  font-size: 24px;
  border-radius: 3px;
  transition: 0.3s;
}

.features .feature-box:hover i {
  background: #4154f1;
  color: #fff;
}

.features .feture-tabs {
  margin-top: 120px;
}

.features .feture-tabs h3 {
  color: #012970;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .features .feture-tabs h3 {
    font-size: 28px;
  }
}

.features .feture-tabs .nav-pills {
  border-bottom: 1px solid #eee;
}

.features .feture-tabs .nav-link {
  background: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: #012970;
  padding: 12px 0;
  margin-right: 25px;
  margin-bottom: -2px;
  border-radius: 0;
}

.features .feture-tabs .nav-link.active {
  color: #4154f1;
  border-bottom: 3px solid #4154f1;
}

.features .feture-tabs .tab-content h4 {
  font-size: 18px;
  margin: 0;
  font-weight: 700;
  color: #012970;
}

.features .feture-tabs .tab-content i {
  font-size: 24px;
  line-height: 0;
  margin-right: 8px;
  color: #4154f1;
}

.features .feature-icons {
  margin-top: 120px;
}

.features .feature-icons h3 {
  color: #012970;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}
.inner-header {
    background: #F2F2F6;
}
.result p {
    font-size:35px;
    color: #252223;
}
.fixed-top.inner-header {position:static;}
.fixed-top.header-scrolled {
    position: inherit;
}
.result p span {
    color: #672CCF;
}
section#company {
    background: #F2F2F6;
    padding-top: 0;
    padding-bottom: 65px;
}
.sort.text-right {
    float: right;
    font-size: 22px;
    font-weight: 500;
    margin-top: 14px;
}
.sort select {
    border: none;
    color: #672CCF;
    font-weight: 500;
}
.footer-search {
    background: #252223;
    padding: 35px 0 15px;
}
.footer-search p {color:#fff; font-size:18px;}
.row.search-result-box .box:hover p.golink.text-center {border-top: 0.5px solid #6f41c0;}
@media (max-width: 768px) {
  .features .feature-icons h3 {
    font-size: 28px;
  }
}

.features .feature-icons .content .icon-box {
  display: flex;
}

.features .feature-icons .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: #012970;
}

.features .feature-icons .content .icon-box i {
  font-size: 44px;
  line-height: 44px;
  color: #0245bc;
  margin-right: 15px;
}

.features .feature-icons .content .icon-box p {
  font-size: 15px;
  color: #848484;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .service-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  height: 100%;
  padding: 60px 30px;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px;
}

.services .service-box .icon {
  font-size: 36px;
  padding: 40px 20px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 25px;
  display: inline-block;
  line-height: 0;
  transition: 0.3s;
}

.services .service-box h3 {
  color: #444444;
  font-weight: 700;
}

.services .service-box .read-more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 20px;
}

.services .service-box .read-more i {
  line-height: 0;
  margin-left: 5px;
  font-size: 18px;
}

.services .service-box.blue {
  border-bottom: 3px solid #2db6fa;
}

.services .service-box.blue .icon {
  color: #2db6fa;
  background: #dbf3fe;
}

.services .service-box.blue .read-more {
  color: #2db6fa;
}

.services .service-box.blue:hover {
  background: #2db6fa;
}

.services .service-box.orange {
  border-bottom: 3px solid #f68c09;
}

.services .service-box.orange .icon {
  color: #f68c09;
  background: #fde3c4;
}

.services .service-box.orange .read-more {
  color: #f68c09;
}

.services .service-box.orange:hover {
  background: #f68c09;
}

.services .service-box.green {
  border-bottom: 3px solid #08da4e;
}

.services .service-box.green .icon {
  color: #08da4e;
  background: #cffddf;
}

.services .service-box.green .read-more {
  color: #08da4e;
}

.services .service-box.green:hover {
  background: #08da4e;
}

.services .service-box.red {
  border-bottom: 3px solid #e9222c;
}

.services .service-box.red .icon {
  color: #e9222c;
  background: #fef7f8;
}

.services .service-box.red .read-more {
  color: #e9222c;
}

.services .service-box.red:hover {
  background: #e9222c;
}

.services .service-box.purple {
  border-bottom: 3px solid #b50edf;
}

.services .service-box.purple .icon {
  color: #b50edf;
  background: #f8e4fd;
}

.services .service-box.purple .read-more {
  color: #b50edf;
}

.services .service-box.purple:hover {
  background: #b50edf;
}

.services .service-box.pink {
  border-bottom: 3px solid #f51f9c;
}

.services .service-box.pink .icon {
  color: #f51f9c;
  background: #feecf7;
}

.services .service-box.pink .read-more {
  color: #f51f9c;
}

.services .service-box.pink:hover {
  background: #f51f9c;
}

.services .service-box:hover h3, .services .service-box:hover p, .services .service-box:hover .read-more {
  color: #fff;
}

.services .service-box:hover .icon {
  background: #fff;
}


/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.accordion-button::after {
    position: relative;
    top: 5px;
    right: 5px;
}
.accordion-button:not(.collapsed)::after {
   background-image: url(../img/down-chevronactive.png);
    transform: inherit;
}
.accordion-button::after {background-image: url(../img/down-chevron.png);}
section#faq {
    padding-top: 45px;
}
.faq, .f-box{padding:0 20px;}
.faq h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 28px;
}
.accordion-button {
   
    font-size: 20px;
}
.accordion-body {
    border-top: 1px solid #eaeaea;
    margin: 0 22px;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    font-weight: 400;
	line-height: 1.7;
}
button.accordion-button {
    padding-top: 20px;
    padding-bottom: 20px;
}

.accordion-button:not(.collapsed) {
    color: #672CCF;
    background-color: transparent;
    box-shadow: none;
}
button.accordion-button {
    font-weight: 700;
}
h2.accordion-header {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700 !IMPORTANT;
}
.accordion-item {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 12px 30px #0000000d;
    border: 0.5px solid #EEEEEE;
    border-radius: 15px !important;
    margin-bottom: 20px;
    overflow: hidden;
}
.faq .accordion-collapse {
  border: 0;
}

.faq .accordion-button {
  padding: 15px 15px 20px 0;
  font-weight: 600;
  border: 0;
  font-size: 18px;
  color: #444444;
  text-align: left;
}

.faq .accordion-button:focus {
  box-shadow: none;
}

.faq .accordion-button:not(.collapsed) {
  background: none;
  color: #4154f1;
  border-bottom: 0;
}

.faq .accordion-body {
  padding: 0 0 25px 0;
  border: 0;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients .clients-slider .swiper-slide img {
  opacity: 0.5;
  transition: 0.3s;
}

.clients .clients-slider .swiper-slide img:hover {
  opacity: 1;
}

.clients .clients-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.clients .clients-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #4154f1;
}

.clients .clients-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #4154f1;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
section#contact p {
    color: #252223;
    margin-bottom: 42px;
}
section#contact {
    padding-top: 70px;
	background: url(../img/contactbg.png) top center no-repeat;
    background-size: contain;
}
section#contact .name-s:after {
    content: url(../img/user.png);
    position: absolute;
    right: 14px;
    top: 22px;
}
section#contact .email-s:after {
    content: url(../img/envelope.png);
    position: absolute;
    right: 14px;
    top: 22px;
}
section#contact .reason-s:after {
    content: url(../img/down-arr.png);
    position: absolute;
    right: 14px;
    top: 22px;
}
textarea.form-control {
    height: 228px;
    margin-bottom: 20px;
}
section#contact .comment-s:after {
    content: url(../img/comment.png);
    position: absolute;
    right: 17px;
    bottom: 38px;
}
span.name-s, section#contact .email-s,  section#contact .comment-s,section#contact .reason-s  {
    position: relative;
    width: 100%;
    float: left;
}
.row.gy-4.form-3 {
    margin-bottom: 30px;
}
section#contact h2 {
    font-size: 42px;
    font-family: 'Roboto', sans-serif;
    color: #252223;
    font-weight: 600;
}
.contact-box textarea.form-control {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 12px 30px #0000000d;
    border: 0.5px solid #00000040;
    border-radius: 15px;
	resize:none;
}
.contact-box textarea.form-control {
    padding-top: 15px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 15px;
}
.contact-box input::placeholder, .contact-box select, .contact-box textarea::placeholder {
	color:#d3d3d3;
}
.contact-box button {
    background: #672CCF 0% 0% no-repeat padding-box;
    border-radius: 45px;
    border: none;
    padding: 10px 47px;
    font-size: 18px;
    color: #fff;
}

.contact-box input:focus, .contact-box select:focus, .contact-box textarea:focus {
    border: 1px solid #672CCF !important;
    box-shadow: none !important;
}
.contact-box input.form-control, .contact-box select {
   background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 12px 30px #0000000D;
border: 0.5px solid #00000040;
border-radius: 15px;
    min-height: 64px;
	    width: 100%;
}
.contact .info-box {
  color: #444444;
  background: #fafbff;
  padding: 30px;
}

.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: #4154f1;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  background: #fafbff;
  padding: 30px;
  height: 100%;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #4154f1;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #4154f1;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #5969f3;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.navbar-mobile {
   
    z-index: 555;
}
.footer {
  background: #f6f9ff;
  padding: 0 0 30px 0;
  font-size: 14px;
}

.footer .footer-newsletter {
  padding: 50px 0;
  background: #f6f9ff;
  border-top: 1px solid #e1ecff;
}

.footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  color: #012970;
}

.footer .footer-newsletter form {
  margin-top: 20px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #e1ecff;
}

.footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 8px;
  width: calc(100% - 140px);
}

.footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 30px;
  margin: 3px;
  background: #4154f1;
  color: #fff;
  transition: 0.3s;
  border-radius: 4px;
}

.footer .footer-newsletter form input[type="submit"]:hover {
  background: #5969f3;
}

.footer .footer-top {
  background: white url(../img/footer-bg.png) no-repeat right top;
  background-size: contain;
  border-top: 1px solid #e1ecff;
  border-bottom: 1px solid #e1ecff;
  padding: 60px 0 30px 0;
}

@media (max-width: 992px) {
  .footer .footer-top {
    background-position: center bottom;
  }
}

.footer .footer-top .footer-info {
  margin-bottom: 30px;
}

.footer .footer-top .footer-info .logo {
  line-height: 0;
  margin-bottom: 15px;
}

.footer .footer-top .footer-info .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-top .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
}

.footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
}

.footer .footer-top .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}

.footer .footer-top .social-links a:hover {
  color: #012970;
}

.footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #012970;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-top .footer-links {
  margin-bottom: 30px;
}

.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #d0d4fc;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-top .footer-links ul a {
  color: #013289;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-top .footer-links ul a:hover {
  color: #4154f1;
}

.footer .footer-top .footer-contact p {
  line-height: 26px;
}

.footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #012970;
}

.footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #012970;
}

@media (max-width:991px){
	.col-lg-3.col-sm-3  { flex: 0 0 auto;  width: 25%;}
	.col-lg-9.col-sm-9 {flex: 0 0 auto; width: 75%;}
	section#hero p br {display:none;}
	.form-banner form:after {
    right: 11px;
    top: 20px;
}
.form-banner input[type="text"] {
    height: 60px;
    line-height: 60px;
    font-size: 16px;
}
	.form-banner {
    margin: 0 !important;
}
	.slides .swiper-button-next, .slides .swiper-button-prev {display:none;}
	.navbar .getstarted {
    padding: 6px 18px;
    margin-left: 17px;
   
    font-size: 16px;
}
.result p, .sort.text-right {
    font-size: 22px;
}
span.sort-mobile {
    display: none;
}
.sort.text-right {
    margin-top: 0;
}
}
@media (max-width:767px){
	section#contact .comment-s:after {
  
    bottom: 18px;
}
	textarea.form-control {
    margin-bottom: 2px;
}
	textarea.form-control {
    padding-top: 12px;
}
	select.form-control {
    font-size: 15px;
}
	.contact-box button {   
    padding: 10px 42px;
    font-size: 19px;
    width: 100%;
}
	section#contact {
    padding-bottom: 40px;
}
	section#contact p {
    margin-bottom: 32px;
    font-size: 16px;
    padding: 0 30px;
}
	section#contact h2 {
    font-size: 22px;  
}
	section#contact {
    padding-top: 40px;
}
	button:focus:not(:focus-visible) {box-shadow:none;}
	.accordion-button::after {   
    right: -8px;
}
	.accordion-body {
    margin: 0px;
    padding-left: 15px;
    padding-right: 15px;
  
}
	.faq h2 {   
    font-size: 22px;
}
	section#faq {
    padding-top: 30px;
    padding-bottom: 40px;
}


	.accordion-body {  
    font-size: 16px;
    line-height: 1.6;
}
	.accordion-button {
    font-size: 16px !important;
    line-height: 1.5;
    width: 98%;
}
	section#search {
    padding-bottom: 30px;
}
	section#company {    
    padding-bottom: 35px;
}
	pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    margin-left: -15px;
}

	.company h4.text-center.slide-heading {
    margin-top: 40px;
}
	.search-result-box .box {
    margin-bottom: 20px;
}
	.row.search-result-box .box:hover  span img {
    filter: brightness(0) invert(1);
}
.row.search-result-box .box:hover  span.arrow-right img {
    filter: inherit;
}
	.row.search-result-box .box:hover span.text-right.desktop-hide {
    color: #fff;
}
	p.golink.text-center span.arrow-right img {filter: brightness(0) invert(1);}
	span.text-right.desktop-hide img {
    max-width: 100%;
    height: 19px;
    position: relative;
    top: -2px;
}
	p.golink.text-center span img {
    filter: inherit;
}
	span.text-right.desktop-hide {
    color: #252223;
}
	p.golink.text-center {
    float: left;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
	p.golink.text-center span.arrow-right {
    float: right;
    top: 6px;
    right: 5px;
}


	.box {
    float: left;
    width: 100%;
}
	span.go {
    display: none !important;
}

	span.text-right.desktop-hide {
    display: inline-block !important;
    float: left;
}
	.row.search-result-box .box-s {
    padding: 6px 25px 25px;
}
	.box-d {
    margin-top: 35px;
}
	
.box-s p {
    margin-bottom: 5px;
    font-size: 16px !important;
	display: inline;
}
	.search-result-box h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
	display: inline;
}
	.box-s .col-lg-6>img {
    height: 66px;   
    margin-top: 25px;
}
	.box-d {
    width: 70%;
}
	.col-lg-6.mobile-hide {
    display: none;
}
	.box-s .col-lg-6 {
    width: 30%;
}
	.row.search-result-box {
    margin-top: 25px;
}
	
	.sort.text-right {
    font-size: 16px;
	margin-top: 11px;
   
}
	.result p span {
    width: 100%;
    float: left;
}
	.result p {
    font-size: 16px;
}
	
	p.copyright.text-center {
    padding: 0 50px;
}
	h4.text-center.slide-heading {   
    font-size: 18px;
  
}
	.hero h1 {
    font-size: 26px;
}
.owl-nav {
    display: none;
}
}
@media (max-width:480px){
	.owl-dots {
    position: relative;
    left: -10px;
}
	.owl-carousel {   
    width: 100% !important;
}
	html, body {
    overflow-x: hidden;
}
	section#hero {
    padding-top: 160px;
}
	.navbar .getstarted {
   
    font-size: 16px;
}
	body {overflow-x:hidden;}
	section#hero {
    overflow: inherit;
}
.slides {
    position: relative;
    left: 17px;
}
}
